{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Homepage</h1>
    <img src="{% static 'imgs/Logos/LOGO Jameson.jpg' %}" alt="">
    <img src="{% static 'imgs/Logos/LOGO M&M.jpg' %}" alt="">
    <img src="{% static 'imgs/Logos/LOGO midleton.jpg' %}" alt="">
    <img src="{% static 'imgs/Logos/LOGO Powers.jpg' %}" alt="">
    <img src="{% static 'imgs/Logos/LOGO Redbreast.jpg' %}" alt="">
    <img src="{% static 'imgs/Logos/LOGO Spot.jpg' %}" alt="">
{% endblock content %}