{% extends 'base.html' %}

{% block content %}
<h1 id="h1-center">All Whiskeys</h1>
<div class="whiskey-grid">
    {% for whiskey in all_whiskeys %}
            <div class="whiskey-item">
                <a href="{% url 'whiskeycellar:product_detail' product_id=whiskey.id %}">
                    <img id="whiskey-img" src="{{ whiskey.image.url }}" alt="{{ whiskey.name }}"> 
                </a>
                <p class="whiskey-name">{{ whiskey.name }}</p>
                <p>Brand: {{ whiskey.brand.name }}</p>
                <p>Price: €{{ whiskey.price }}</p>
                {% if whiskey.stock == 0%}
                <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'cart:add_cart' whiskey.id %}">Add to Cart</a>
                {% endif %}
            </div>
    {% endfor %}
</div>
{% endblock %}
