{% extends 'base.html' %}

{% block content %}
<h1 id="h1-center">Powers Whiskey</h1>
<div class="whiskey-grid">
    {% for whiskey in powers_whiskey %}
        {% if whiskey.brand.name == 'Powers' %}
            <div class="whiskey-item">
                <img id="whiskey-img" src="{{ whiskey.image.url }}" alt="{{ whiskey.name }}"> <!-- Display image if available -->
                <p class="whiskey-name">{{ whiskey.name }}</p>
                <p>Brand: {{ whiskey.brand.name }}</p>
                <p>Price: €{{ whiskey.price }}</p>
                <p class="whiskey-description">{{ whiskey.description }}</p>
                <p>Nose: {{ whiskey.nose }}</p>
                <p>Taste: {{ whiskey.taste }}</p>
                <p>Finish: {{ whiskey.finish }}</p>
                <p>ABV: {{ whiskey.abv }}</p>
                <p>Amount: {{ whiskey.amount }}</p>
                <p>Distillery: {{ whiskey.amount }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No Powers whiskeys available.</p>
    {% endfor %}
</div>
{% endblock %}
