{% extends 'base.html' %}

{% block content %}
<h1 id="h1-center">Red Breast Whiskey</h1>
<div class="whiskey-grid">
    {% for whiskey in red_breast_whiskey %}
        {% if whiskey.brand.name == 'Red Breast' %}
            <div class="whiskey-item">
                <a href="{% url 'whiskeycellar:product_detail' product_id=whiskey.id %}">
                    <img id="whiskey-img" src="{{ whiskey.image.url }}" alt="{{ whiskey.name }}"> 
                </a>
                <p class="whiskey-name">{{ whiskey.name }}</p>
                <p><b>Brand: </b>{{ whiskey.brand.name }}</p>
                <p><b>Price: </b>€{{ whiskey.price }}</p>
                <p class="whiskey-description">{{ whiskey.description }}</p>
                <p><b>Nose: </b>{{ whiskey.nose }}</p>
                <p><b>Taste: </b>{{ whiskey.taste }}</p>
                <p><b>Finish: </b>{{ whiskey.finish }}</p>
                <p><b>ABV: </b>{{ whiskey.abv }}%</p>
                <p><b>Amount: </b>{{ whiskey.amount }}</p>
                <p><b>Distillery: </b>{{ whiskey.distillery }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No Red Breast whiskeys available.</p>
    {% endfor %}
</div>
{% endblock %}
