{% extends 'base.html' %}

{% block content %}
<h1 id="h1-center">Spot Whiskey</h1>
<div class="whiskey-grid">
    {% for whiskey in spot_whiskey %}
        {% if whiskey.brand.name == 'Spot' %}
            <div class="whiskey-item">
                <a href="{% url 'whiskeycellar:product_detail' product_id=whiskey.id %}">
                    <img id="whiskey-img-logo" src="{{ whiskey.image.url }}" alt="{{ whiskey.name }}"> 
                </a>
                <p class="whiskey-name">{{ whiskey.name }}</p>
                <p><b>Brand: </b>{{ whiskey.brand.name }}</p>
                <p><b>Price: </b>€{{ whiskey.price }}</p>
                <p class="my_title"><b>Product Description</b></p>
                <p class="text-justify my_prod_text">{{whiskey.description}}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No Spot whiskeys available.</p>
    {% endfor %}
</div>
{% endblock %}
